<h1>Hello</h1>

<br>

<h2>Names</h2> 
{{btn1}}


@for (name of getAllNames(); track $index) {
    <ul>
        <li>
            {{$index}} - {{name}}
            <button type="button" class="btn2" (click)="updateName()">Update</button> 
            <button type="button" class="btn4" (click)="deleteName($index)">Delete</button>
        </li>
    </ul>  
        
}

<br>

<button type="button" class="btn1" (click)="addName()">Add Name</button>

@if(btn1){
    <div>
        <input type="text" [(ngModel)]="name_input" placeholder="Enter your name">
        <button type="button" (click)="addName()" [disabled]="!name_input">Add</button>
    </div>
}
