<div class="create-showtime-container">
    <h2>Create Seat</h2>
    <form [formGroup]="seatForm" (ngSubmit)="createSeat()">
      <div class="form-group">
        <label for="theater">Theater</label>
        <select id="theater" formControlName="theaterId">
          <option value="" disabled selected>Select a theater</option>
          <option *ngFor="let theater of theaters" [value]="theater.theaterId">
            {{ theater.name }} - {{ theater.location }} ({{ theater.capacity }} seats)
          </option>
        </select>
      </div>
  
      <div class="form-group">
        <label for="rowNumber">Row Number</label>
        <input type="number" id="rowNumber" formControlName="rowNumber" placeholder="Enter Row of Seats" />
      </div>
  
      <div class="form-group">
        <label for="seatNumber">Seat Number</label>
        <input type="number" id="seatNumber" formControlName="seatNumber" placeholder="Enter Number of Seats in a Row" />
      </div>
  
      <div class="form-group">
        <label for="isAvailable">Availability</label>
        <select id="isAvailable" formControlName="isAvailable">
          <option [value]="true">Available</option>
          <option [value]="false">Not Available</option>
        </select>
      </div>
  
      <div class="text-center">
        <button type="submit" [disabled]="isSubmitting">Create Seat</button>
      </div>
    </form>
  </div>
  