.loading-spinner {
  text-align: center;
  margin: 20px;
  font-size: 16px;
  color: #666;
}

.user-details {
  background-color: var(--card-color);
  padding: 20px;
  border-radius: 8px;
  max-width: 400px;
  margin: auto;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.1);
}

.user-details h2 {
  margin-bottom: 16px;
}

.user-details p {
  margin: 8px 0;
}

.error-message {
  color: red;
  text-align: center;
  font-size: 16px;
}
