<form [formGroup]="movieForm" (ngSubmit)="onSubmit()" class="form-container">
    <h2>Add Movie</h2>

    <!-- Title -->
    <label for="title">Title:</label>
    <input type="text" formControlName="title" placeholder="Title" />

    <!-- Description -->
    <label for="description">Description:</label>
    <input type="text" formControlName="description" placeholder="Description" />

    <!-- Duration -->
    <label for="durationMinutes">Duration (Minutes):</label>
    <input type="number" formControlName="durationMinutes" placeholder="Duration Minutes" />

    <!-- Rating -->
    <label for="rating">Rating:</label>
    <input type="number" formControlName="rating" placeholder="Rating" min="1" max="10" />

    <!-- Release Date -->
    <label for="releaseDate">Release Date:</label>
    <input type="date" formControlName="releaseDate" />

    <!-- Genres -->
    <div *ngFor="let genre of genreList">
        <label>
            <input type="checkbox" (change)="onGenreChange($event, genre.genreId)" [value]="genre.genreId" />
            {{ genre.genreName }}
        </label>
    </div>



    <!-- Submit -->
    <button type="submit" class="submit-btn" [disabled]="movieForm.invalid || isSubmitting">Add Movie</button>
    <button type="button" (click)="goBack()" class="back-btn">Back</button>

</form>