<button routerLink="/create-user"> Create User</button>

<div class="user-list-container">
    <h2>All Users</h2>
    <table class="user-table">
        <thead>
            <tr>
                <th>User ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Postal Code</th>
                <th>isAdmin</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of userList; let i = index" class="user-item">
                <td>{{ user.userId }}</td>
                <td>{{ user.firstName }} {{ user.lastName }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.postalCodeId }}</td>
                <td>{{ user.isAdmin }}</td>
                <td>
                    <button class="btn1" [routerLink]="['/view-user', user.userId]">View</button>
                    <button class="btn2" [routerLink]="['/update-user', user.userId]">Update</button>
                    <button class="btn3" (click)="deleteUser(user.userId)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>