/* General styles */
body {
  font-family: "Arial", sans-serif;
  background-color: #333;
  color: #fff;
  padding: 20px;
}

h2 {
  font-size: 1.8em;
  color: #fff;
  margin-bottom: 20px;
  border-bottom: 2px solid #fff;
  padding-bottom: 5px;
}

/* User Table */
.user-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.user-table th,
.user-table td {
  padding: 12px 15px;
  text-align: left;
  border: 1px solid #fff;
}

.user-table th {
  background-color: #333;
  font-weight: bold;
}

.user-table tr:hover {
  background-color: #adadad;
}

.user-table .btn1 {
  background-color: #7f2cfc;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
}
.user-table .btn2 {
  background-color: #002aff;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
}
.user-table .btn3 {
  background-color: #ff4747;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
}

.user-table .btn1:hover {
  background-color: #6923d2;
}
.user-table .btn2:hover {
  background-color: #0021c8;
}
.user-table .btn3:hover {
  background-color: #d43f3f;
}
