<nav class="nav-container">
  <ul class="nav-links nav-start">
    <li><a routerLink="/services" routerLinkActive="active">Films</a></li>
    <li><a routerLink="/users" routerLinkActive="active">Users</a></li>
    <li class="dropdown">
      <a href="#">City</a>
      <ul class="dropdown-menu">
        <li><a href="#">New York</a></li>
        <li><a href="#">Los Angeles</a></li>
        <li><a href="#">Chicago</a></li>
      </ul>
    </li>
  </ul>

  <div class="logo-container">
    <div class="logo" routerLink="/">
      <img src="assets/bioma-logo.png" alt="Bioma Logo" style="height: 25px;">
      Bioma
    </div>
  </div>

  <div class="nav-end">
    <a routerLink="/contact" routerLinkActive="active" >Admin</a>
    <a routerLink="/contact" routerLinkActive="active" style="margin-left: 20px;">Login</a>
  </div>

  <button class="mobile-menu" (click)="toggleMenu()">
    <span></span>
    <span></span>
    <span></span>
  </button>
</nav>

<div class="content">
  <div class="page-wrapper">
    <router-outlet></router-outlet>
  </div>
</div>