/* You can add global styles to this file, and also import other style files - bg color: #1c273a */ 
:root {
  --primary-nav-color: #4f16ac;
  --background-color: #0e1522; 
  --card-color: #25344d;
  --text-color: #fff;

  --primary-color: #7800d3;
  --primary-hover: #7B00DB;
  --text-primary: #ffffff;
  --text-secondary: #94a3b8;
  --card-bg: #110a1b;
  --glass-bg: rgba(255, 255, 255, 0.08);
  --glass-border: rgba(255, 255, 255, 0.08);
  --gradient-primary: linear-gradient(135deg, #8917e0 0%, #4F46E5 100%);

  --error-color: #dc2626;
  --input-border: #e5e5e5;
  --input-focus: #8F00FF;
}


body {
  font-family: "Plus Jakarta Sans", sans-serif;
  background-color: var(--background-color);
  color: #ffffff;
}
